[submodule "List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words_V2"]
	path = List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words_V2
	url = https://github.com/LDNOOBWV2/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words_V2.git
